<h1>enter new purchase transaktion</h1>
<%= form_for :transaktion, url: "/transaktions" do |f| %>

 <fieldset id="pos">
  <legend>point of sale information</legend>
  <label for="date">date</label>

  <%= f.text_field :date, :id => "date", :tabindex => 1 %><br />
  <!--
   For input elements for foreign key properties, the actual Rails input
   element (that will be included in params) is a hidden element, so the
   autocomplete element for user input can display "friendly" names instead of
   numeric keys.
  -->
  <label>other party to transaktion</label>
  <%= autofill_inputs "transaktion", nil, "entity" %>

 </fieldset>

 <fieldset id="payments">
  <legend>payments</legend>

  <div id="credits">
  <!-- data-index even for credit, odd for debit -->
  <!-- <fieldset class="payment_method replic" id="payment_method"> -->
  <fieldset class="payment_method entry replic">

   <!-- account -->
   <label>paid from account</label>
   <%= autofill_inputs "entry", 0, "account" %>
   <!-- amount -->
   <label>credit amount</label>
   <input name="entry[0][price]" class="money credit multiplicand" />

  </fieldset>
  </div>

  <button class="replicator" type="button" data-fieldset-type="payment_method">additonal payment method</button>

 </fieldset>

 <fieldset id="purchases">
  <legend>purchaes this transaktion</legend>
  <table><thead>
   <tr><th>item</th><th>price</th><th>qty</th><th>account</th><th>debit amount</th></tr>
  </thead><tbody id="debits">

  <!-- <tr id="item" class="entry_item replic"> -->
  <tr class="entry_item entry replic">
   <!-- item -->
   <!-- TODO: increment numbers in id attributes, too -->
   <!-- TODO: blank out filled-in fields, too -->
   <td>
    <%= autofill_inputs "entry", 1, "item" %>
   </td>
   <!-- price -->
   <td><input id="entry_1_price" name="entry[1][price]" class="money multiplicand" /></td>
   <!-- qty -->
   <td><input id="entry_1_qty" name="entry[1][qty]" class="multiplicand" value="1" /></td>
   <!-- acct -->
   <td>
    <%= autofill_inputs "entry", 1, "account" %>
   </td>
   <td>
    <input id="entry_1_debit" class="money debit" disabled />
   </td>
  </tr>

  <tbody></table>

  <button class="replicator" type="button" data-fieldset-type="entry_item">additional item</button>

 </fieldset>

 <%= f.submit "post transaktion", :id => "post", :disabled => true %>

<% end %>

<table id="summary">
<thead>
<tr><th>total debits</th><th>total credits</th><th>imbalance</th></tr>
</thead>
<tbody>
<tr><td id="total_debits" class="money">0.00</td><td id="total_credits" class="money">0.00</td><td id="imbalance" class="money">0.00</td></tr>
</tbody>
</table>

<div id="entity_popup" class="popup">
 <%= render "entities/new" %>
</div>
<!-- TODO: Don't repeat yourself: -->
<div id="account_popup" class="popup">
 <%= render "accounts/new" %>
</div>
<div id="item_popup" class="popup">
 <%= render "items/new" %>
</div>

