<p id="notice"><%= notice %></p>

<div>

 <p class="address">
  <strong><%= @entity.name %></strong>
  <% if @entity.street != "" %>
   <br />
   <%= "#{@entity.no} #{@entity.frac} #{@entity.street}" %><br />
  <% end %>
  <% if @entity.unit != "" %>
   <%= @entity.unit %><br /> 
  <% end %>
  <% if @entity.box != "" %>
  <%= "PO Box #{@entity.box}" %><br />
  <% end %>
  <% if (@entity.city) != "" %>
   <%= @entity.city %><%= ", #{@entity.polsub}" if @entity.polsub != "" %>
   <%= " #{@entity.postal}" if @entity.postal != "" %>
  <% end %>
  <% if @entity.nation != "" %>
   <br />
   <%= @entity.nation %>
  <% end %>
 </p>

 <% if @entity.phone || @entity.email || @entity.url %>
  <p>
   <% if @entity.phone != "" %>
    <%= @entity.phone %>
    <br />
   <% end %>
   <% if @entity.email != "" %>
    <%= mail_to @entity.email %>
    <br />
   <% end %>
   <% if @entity.url != "" %>
    <%= link_to @entity.url, @entity.url %>
    <br />
   <% end %>
  </p>
 <% end %>

</div>

<% # TODO place list of transactions with this entity here %>
<div>

 <ul>
 <% @transaktions.where(entity_id: @entity.id).order(:date).reverse.each do |transaktion| %>
  <li>
   <%= link_to transaktion.date, transaktion_path(transaktion) %>
  </li>
 <% end %>
 </ul>

</div>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
