<!--
<script>

  $("#item_unit_id").blur(function (event) {
    var id = event.target.value;
    var name = $("#units option[value="+id+"]").text();
    $("#_item_unit_id").text(name)
  });

  // TODO: For the sake of DRY, abstract on above:
  function friendly_reference(view, reference, plural) {
   $("#"+view+"_"+reference+"_id").blur(function (event) {
     var id = event.target.value;
     var name = $("#"+plural+" option[value="+id+"]").text();
     $("#_"+view+"_"+reference+"_id").text(name)
   });
  }

</script>
-->

<%= form_for :item, url: "/items" do |f| %>

 <fieldset>

  <legend>new item</legend>

  <label>barcode</label>
  <%= f.text_field :barcode, :autofocus => true %><br />

  <label>brand</label>
  <%= f.text_field :brand %>
  <label>generic description</label>
  <%= f.text_field :gendesc %><br />

  <label>size</label>
  <%= f.text_field :size %>
  <label>units</label>
  <%= autofill_inputs "item", nil, "unit" %>

  <%= f.submit %>

 </fieldset>

<% end %>

<!-- TODO: make back link not show up on popup version of form -->
<%= link_to "Back", items_path %>

<div id="unit_popup" class="popup">
 <%= render "units/new" %>
</div>

