<%= form_for :transaction, url: "/transactions" do |f| %>
<legend>enter new purchase transaction</legend>

 <fieldset id="pos">
  <legend>point of sale information</legend>

  <label for="date">date</label>

  <%= f.text_field :date, :id => "date" %><br />
  <!--
   For input elements for foreign key properties, the actual Rails input
   element (that will be included in params) is a hidden element, so the
   autocomplete element for user input can display "friendly" names instead of
   numeric keys.
  -->
  <label>other party to transaction</label>
  <%= autofill_inputs "transaction", 0, "entity" %>

 </fieldset>

 <fieldset id="payments">
  <legend>payments</legend>

  <!-- data-index even for credit, odd for debit -->
  <fieldset class="payment_method replic" id="payment_method">

   <!-- account -->
   <label>paid from account</label>
   <%= autofill_inputs "entry", 0, "account" %>
   <!-- amount -->
   <label>credit amount</label>
   <input name="entry[0][price]" />

  </fieldset>

  <button class="replicator" type="button" data-fieldset-type="payment_method">additonal payment method</button>

 </fieldset>

 <fieldset id="purchases">
  <legend>purchaes this transaction</legend>
  <table><thead>
   <tr><th>item</th><th>price</th><th>qty</th><th>account</th><th>debit amount</th></tr>
  </thead><tbody>

  <tr id="item" class="entry_item replic">
   <!-- item -->
   <td>
    <%= autofill_inputs "entry", 0, "item" %>
   </td>
   <!-- price -->
   <td><input name="entry[1][price]" /></td>
   <!-- qty -->
   <td><input name="entry[1][qty]" /></td>
   <!-- acct -->
   <td>
    <%= autofill_inputs "entry", 1, "account" %>
   </td>
  </tr>

  <tbody></table>

  <button class="replicator" type="button" data-fieldset-type="entry_item">additional item</button>

 </fieldset>

<% end %>

<div style="display: none; position: absolute; width: 80%; height: 80%; top: 10%; left: 10%; z-index: 22; background-color: rgba(255, 255, 255, 1); border: 2px solid black; padding: 1em;">
 <%= render "entities/new" %>
</div>

