<!DOCTYPE html>
<html>
<head>
  <title>Duper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
   <span class="navlink"><%= link_to "journal", "/entries" %></span> 
   <span class="navlink"><%= link_to "balance sheet", "/accounts" %></span>
   <span class="navlink"><%= link_to "new transaction", "/transaktions/new" %></span> 
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
