<p id="notice"><%= notice %></p>
  <table>
   <caption>chart of accounts</caption>
   <tbody>
    <% Account.columnize.map do |column| %>
     <td class="column">
      <table>
       <tbody>
        <% total = 0 %>
        <% column.each do |account| %>
         <% path = account.account_pathname %>
         <% path_split = path.split("|") %>
         <% indent = path_split.length-1 %>
         <% bal = account.balance %>
         <% total += bal %>
         <tr>
          <td>
           <span class="name" style="margin-left:<%= indent %>em">
            <a href="<%= account_path account.id %>"><%= path_split.pop %></a>
           </span>
          </td>
          <td class="balance"><%= "%.2f"%bal if bal != 0 %></td>
         </tr>
        <% end %>
       </tbody>
       <tbody class="total">
        <tr><td></td><td class="balance"><%= "%.2f"%total %></td></tr>
       </tbody>
      </table>
     </td>
    <% end %>
   </tbody>
  </table>

<div><%= link_to 'New Account', new_account_path %></div>
